.container
  background-color: #f8f8f8
  line-height: 22px

  &Main
    display: flex
    flex-direction: column
    justify-content: center
    flex-wrap: wrap
    margin: 0 auto

    @media (width >= 512px)
      flex-direction: row
    @media (width > 1440px)
      width: clamp(320px, 65%, 1200px)

  &Card
    padding: 60px 15px
    &:nth-child(odd)
      margin-left: auto
    &:nth-child(even)
      margin-right: auto

    @media (width >= 512px)
      width: clamp(220px, 43%, 320px)
    @media (width >= 1200px)
      width: 22%
      &:nth-child(n)
        margin: unset

.card
  &Head
    border: 10px solid
    padding: 16px
    margin-bottom: 15px

  &Heading
    color: inherit
    font-size: 2.1rem
    margin-bottom: 10px
    font-weight: bold

  &Memo
    min-height: 100px
    font-size: 1rem
    color: #666

  &Price
    font-size: 1.75rem
    font-weight: 600
    text-align: right

.prize
  padding: 13px 0
  border-bottom: 2px solid #ddd

.services
  padding: 13px 0

.benefits
  font-size: 0.8rem
  border-bottom: 2px solid #ddd

  & > *
    padding: 10px 0

    a
      text-decoration: none
      color: #337ab7

    &::before
      content: '\2714'
      padding: 0 5px 0 10px

.entries
  padding: 15px 0

.refund
  border-top: 2px solid #ddd
  padding: 15px 0

.description
  list-style-type: none

  & > *
    padding-top: 15px

  & > *:last-child
    padding-bottom: 15px

  a
    text-decoration: none
    color: #337ab7

.start
  display: block
  padding: 15px 0
  text-align: center
  text-decoration: none
  font-weight: bold
  color: white
  border-radius: 5px

.tier
  &Bronze
    &Box
      color: #e0b48d
      border-color: #e0b48d
    &Btn
      background-color: #e0b48d

  &Gold
    &Box
      color: #e8b954
      border-color: #e8b954
    &Btn
      background-color: #e8b954

  &Platinum
    &Box
      color: #555
      border-color: #555
    &Btn
      background-color: #555

  &Managed
    &Box
      color: #28d2d0
      border-color: #28d2d0
    &Price
      color: #555
    &Btn
      background-color: #28d2d0
